/* home para movil------------------- */
.contenido{
    background: rgb(195,42,34);
    background: linear-gradient(257deg, rgba(195,42,34,0.87718837535014) 42%, rgba(0,255,4,1) 100%);
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: stretch;

}
.seccion{
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}
.aside{
    background-color: aquamarine;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.pie{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    height: 50px;
    padding: 5px;
    font-size: 1rem;
}
.linkdelpie{
display: flex;
flex-direction: row;
}
/* logo y links----------- */
.logoimg{
    width: 2rem;
    height: 2rem;
}
.logo{
    padding: 5px;
    border-radius: 5px;
}
/* imagenes de portada------------- */
.imagenes{
    width: 80%;
    height: 40%;
}
.imagenescarru{
height: 480%;
width: 40%;
}